* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-family: 'roboto', Geneva, Tahoma, sans-serif;
	font-weight: normal;
	color: var(--color-detail);
}

html,
body,
#main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main {
	background-color: #43ed98;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	border-radius: 1em;
}

#greetings {
	grid-area: 2 / 3 / 3 / 5;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32pt;
}

#password-query {
	grid-area: 3 / 1 / 4 / 4;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 16pt;
}

#inputbox {
	grid-area: 3 / 4 / 4 / 7;
	display: flex;
	align-items: center;
}

#unlock-password {
	outline: none;
	border-radius: 10em;
	border: 0.1em solid;
	background: none;
	padding: 0.1em 0.9em;
	margin-left: 1em;
	font-size: 12pt;
}

#wrong-password {
	justify-content: center;
	grid-area: 5 / 2 / 6 / 6;
	display: none;
	align-items: center;
	color: #f33;
}

#unlock {
	grid-area: 6 / 5 / 7 / 7;
	font-size: 16pt;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cancel {
	grid-area: 6 / 1 / 7 / 3;
	font-size: 16pt;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cancel-btn {
	font-size: 16pt;
	padding: 0.1em 0.5em;
	background: no-repeat;
	border: none;
	color: #a70b44;
	outline: none;
	cursor: pointer;
}

#unlock-btn {
	font-size: 16pt;
	padding: 0.1em 0.5em;
	border: 0.1em solid #3b38da;
	border-radius: 10em;
	background: no-repeat;
	color: #3b38da;
	outline: none;
	cursor: pointer;
}