@font-face {
    font-family: 'micon_nb';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/micon_nb/micon_nb.ttf");
}

/*

-----Main app-----

*/

* {
    margin: 0;
    padding: 0;
    user-select: none;
	font-family: 'roboto', Geneva, Tahoma, sans-serif;
	font-weight: normal;
	user-select: none;
	color: var(--color-detail);
}

*:disabled {
    opacity: 0.5;
    cursor: default;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    flex-direction: row;
    background-color: var(--color-main-1);
}

#logotype {
    display: inline-block;
    vertical-align: middle;
    height: 1.25em;
    width: 1.25em;
    margin: auto 0.5em;
}

#logotype > path {
    stroke: var(--color-detail);
}

#options {
    display: inline-block;
    height: 100%;
}

.dropdown {
    display: inline-block;
    position: relative;
    height: 100%;
}

.dropdown-button {
    background-color: transparent;
    color: var(--color-detail);
    font-size: 10pt;
    border: none;
    outline: none;
    height: 100%;
    padding: 0 0.5em;
}

.dropdown-button:hover {
    background-color: var(--color-main-2);
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-main-1);
    min-width: 6em;
    z-index: 1;
    box-shadow: 0 0 0.5em #00000038;
}

.dropdown-item {
    color: var(--color-detail);
    display: block;
    outline: none;
    background-color: transparent;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0.25em 1.5em;
    text-align: left;
}

.dropdown-item:hover {
    background-color: var(--color-main-2);
}
 
#drag-region {
    display: flex;
    flex: 1;
    -webkit-app-region: drag;
}

#window-controls {
    float: right;
    font-family: 'micon_nb';
    font-size: 10pt;
    text-align: center;
}

.frame-button, .frame-button > span {
    font-family: 'micon_nb';
}

.frame-button {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
    border: 0;
    background: none;
    outline: none;
    color: var(--color-detail);
}

.frame-button>span {
    user-select: none;
    pointer-events: none;
}

.frame-button:hover::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-detail);
    opacity: 0.25;
}

.frame-button.hidden {
    display: none;
}

#close-app:hover {
    background-color: #FF3D60;
}

#close-app:hover::before {
    display: none;
}

#app {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
}

#sidebar {
	box-sizing: border-box;
	touch-action: none;
    background-color: var(--color-main-1);
    height: 100%;
    width: 1em;
    max-width: 4.5em;
    min-width: 1em;
    position: relative;
}

#sidebar > .ui-resizable-e {
    z-index: 0 !important;
    position: absolute;
    width: 0.2em;
    height: 2em;
    left: 105%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-detail);
    border-radius: 1em;
    opacity: 0.5;
    cursor: col-resize;
    pointer-events: all;
}

.tab {
    width: 100%;
    padding-top: 100%;
    position: relative;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.tab.active {
	opacity: 1;
}

.tab:not(.active):hover {
	opacity: 0.75;
}

.tab-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.tab::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.tab::after {
	display: block;
	content: '';
	position: absolute;
	height: 100%;
	width: 10%;
	top: 0;
	opacity: 0;
    background-color: var(--color-detail);
    transition: opacity 0.5s ease-in-out;
    border-radius: 0 10em 10em 0;
}

.tab.active::before {
    opacity: 0.25;
    background-color: var(--color-detail);
}

.tab.active::after {
	opacity: 1;
}

.tab-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8px;
}

.tab-view {
    display: none;
    flex: 1;
    border: none;
    background: var(--color-background);
}

.tab-view.current {
    display: flex;
}

/*

-----Welcome tab-----

*/

#title {
    margin-top: 1em;
    margin-left: 1em;
}

#select-inst {
	font-size: 15pt;
    opacity: 0.75;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0.75em;
}

#slides {
	overflow: hidden;
	overflow-x: scroll;
	width: 90%;
	margin: 0 auto;
	white-space: nowrap;
}

/* width */
*::-webkit-scrollbar {
	height: 0.5em;
	width: 0.5em;
	border-radius: 100em;
}

/* Track */
*::-webkit-scrollbar-track {
	background: var(--color-detail-25);
	border-radius: 10000px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
	background: var(--color-detail-75);
	border-radius: 10000px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
	background: var(--color-detail);
	border-radius: 10000px;
}

.frame {
	position: relative;
    display: inline-block;
    background-color: var(--color-main-1);
    margin: 0.125em;
    margin-bottom: 1em;
    width: 20em;
    height: 10em;
    padding: 0.75em 1.5em;
    white-space: normal;
    vertical-align: middle;
}

.frame>i {
	margin-top: 0;
	margin-right: 0.25em;
    vertical-align: bottom;
    font-size: 28pt;
}

.frame-title {
	margin-top: 0;
	font-weight: bold;
	font-size: 16pt;
	vertical-align: bottom;
}

.frame-description {
	display: block;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-size: 12pt
}

.frame-goto {
	position: absolute;

	display: flex;
	font-size: 13pt;
	background-color: transparent;
	border: 0.1em solid var(--color-secundary-1);
	border-radius: 100em;

	padding: 0.1em 0.2em;

	align-items: center;

	bottom: 1em;
	right: 1em;

	outline: none;
	cursor: pointer;

	transition: background-color 250ms ease-in-out;
}

.frame-goto:disabled {
    cursor: default;
}

.frame-goto-text,
.mobile-store-name {
	font-size: 13pt;
	color: var(--color-secundary-1);
	pointer-events: none;
	transition: color 250ms ease-in-out;
}

.frame-goto-icon,
.mobile-store-icon {
	font-size: 13pt;
	color: var(--color-secundary-1);
	margin-left: 0.25em;
	pointer-events: none;
	transition: color 250ms ease-in-out;
}

.frame-goto:hover:enabled {
	background-color: var(--color-secundary-1);
}

.frame-goto:hover:enabled>.frame-goto-text {
	color: var(--color-main-1);
}

.frame-goto:hover:enabled>.frame-goto-icon {
	color: var(--color-main-1);
}

#mobile-store-list {
	display: inline-block;
}

.mobile-store {
	display: inline-flex;
	font-size: 13pt;
	background-color: transparent;
	border: 0.1em solid var(--color-secundary-1);
	border-radius: 100em;

	padding: 0.1em 0.2em;

	align-items: center;

	outline: none;
	cursor: pointer;

	transition: background-color 250ms ease-in-out;
}

.mobile-store-icon {
	margin-left: 0;
	margin-right: 0.25em;
	transition: color 250ms ease-in-out;
}

.mobile-store-name {
	display: inline-block;
	white-space: nowrap;
	max-width: 0;
	overflow: hidden;
	transition: color 250ms ease-in-out, max-width 250ms ease-in-out;
}

.mobile-store:hover {
	background-color: var(--color-secundary-1);
}

.mobile-store:hover>.mobile-store-icon {
	color: var(--color-main-1);
}

.mobile-store:hover>.mobile-store-name {
	color: var(--color-main-1);
	max-width: 10em;
}

/*

-----File tab-----

*/

.file-explorer {
    width: 100%;
    height: 100%;
    background-color: var(--color-main-2);
}

.fe-topbar {
    background-color: var(--color-main-1);
}

.fe-backnext>button {
    padding: 0.1em 0.6em;
    border-radius: 10em;
    border: 0;
    outline: none;
    background-color: var(--color-main-2);
    color: var(--color-detail);
    font-size: 12pt;
}

.fe-backnext>button:enabled {
    cursor: pointer;
}

.fe-backnext>button:enabled:hover {
    background-color: var(--color-main-3);
    color: var(--color-main-1);
}

.fe-order .ui-resizable-e {
    font-size: 16px;
}

.fe-file, .fe-folder {
    border-radius: 100em;
}

.fe-fdcontent {
    transform: translateY(30%);
}

.fe-fileencrypt {
    pointer-events: all;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0.3em 0.75em;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: var(--color-main-1);
    z-index: 1;
    border-radius: 10em;
    overflow: hidden;
    white-space: nowrap;
    animation: fileencryptshow forwards 1s ease-in-out;
}

@keyframes fileencryptshow {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes fileencrypthide {
    0% {
        right: 0;
        width: 100%;
    }
    90% {
        right: 0;
        width: 0%;
        opacity: 1;
    }
    100% {
        right: 0;
        width: 0%;
        opacity: 0;
    }
}

.fe-encryptfilename {
    margin-left: 0em;
    background-color: var(--color-main-2);
    padding: 0.2em 0.5em;
    border-radius: 100em;
}

.fe-fileencryptconfirmation {
    display: flex;
    align-items: center;
    margin-left: 1em;
    transition: opacity 0.5s ease-in-out;
}

.fe-confirmationoptions {
    margin-left: 1em;
}

.fe-confirmation {
    border: 0;
    padding: 0.2em 0.5em;
    border-radius: 100em;
    outline: none;
    opacity: 0.5;
    transition: opacity 0.25s ease-in-out;
    cursor: pointer;
}

.fe-confirmation:hover {
    opacity: 1;
}

.fe-encryptyes {
    background-color: #093eff;
    color: #fff;
}

.fe-encryptno {
    background: none;
    color: red;
    border: 1px solid;
}

.progress-bar {
    padding: 0.2em 0.5em;
    border-radius: 1000em;
    width: 0%;
    min-width: min-content;
    background-color: #093eff;
    margin-left: 0.5em;
    animation: progress-bar-appear forwards 0.5s ease-in-out;
}

@keyframes progress-bar-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.progress-barpercent {
    display: block;
    color: white;
    top: 50%;
    position: relative;
    float: right;
}

/*

-----Theme tab-----

*/

#theme-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#theme-list {
    width: 10em;
    height: 100%;
    background-color: var(--color-main-1);
    padding: 0.5em 1em;
}

.theme-item {
    display: inline-flex;
    padding: 0.5em 0.75em;
    border-radius: 100em;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
    border: 0.25em solid transparent;
}

.theme-item:hover {
    border-color: var(--color-background);
}

.theme-item.opened {
    background-color: var(--color-background);
}

.theme-item.selected > .theme-selected {
    display: initial;
}

.theme-name {
    color: var(--color-detail);
}

.theme-selected {
    display: none;
    margin-left: 0.5em;
    color: var(--color-detail);
}

#theme-descriptions {
    display: flex;
    flex: 1;
}

.theme-description {
    display: none;
    flex-direction: column;
    padding: 2em;
    width: 100%;
}

.theme-description.show {
    display: flex;
}

.theme-title {
    font-size: 30pt;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.theme-author {
    font-size: 16pt;
    margin-left: 3em;
    margin-bottom: 1em;
    opacity: 0.75;
}

.demo-image {
    display: inline-block;
    height: 20em;
    border: 0.1em solid var(--color-detail);
    margin: 0 auto;
    border-radius: 0.5em;
}

.theme-select {
    margin-left: auto;
    margin-right: 1em;
    margin-top: 2em;
    border: 0.25em solid var(--color-detail);
    padding: 0.25em 0.5em;
    border-radius: 100em;
    display: flex;
    align-items: center;
    font-size: 14pt;
    cursor: pointer;
}

.theme-select.selected > .theme-select-icon {
    display: initial;
}

.theme-select-icon {
    display: none;
    margin-left: 0.5em;
}