* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', Geneva, Tahoma, sans-serif;
    font-weight: normal;
    user-select: none;
}

html,
body,
#main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#main {
    background-color: #43ed98;
    border-radius: 1em;
}

#slides {
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}

.slide {
    box-sizing: border-box;
    display: inline-flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 16px;
    white-space: normal;
    vertical-align: middle;
}

.next {
    font-size: 16pt;
    background: none;
    border: 0.1em solid;
    padding: 0.1em 0.5em;
    border-radius: 10em;
    outline: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #1f346d;
    opacity: 0.25;
}

.next:enabled {
    cursor: pointer;
    opacity: 1;
}

.timeout {
    border-right: 0.1em solid;
    padding-right: 0.25em;
}

#logotype {
	width: 8em;
    height: 8em;
}

#greetings1 {
    font-size: 32pt;
}

#greetings2 {
    font-size: 20pt;
    opacity: 0.75;
}

#config-description {
	margin: 2em 0;
}

#warning {
    margin: 1em 0;
    font-size: 30pt;
    color: #b53535;
}

.tab {
    margin-left: 2em;
}

#warning-desc {
    font-size: 14pt;
}

.config-title {
    font-size: 20pt;
    margin: 1em 0;
}

.config-desc {
    font-size: 16pt;
    opacity: 0.75;
}

form {
    margin-top: 1em;
    display: block;
    margin-right: auto;
}

.choose-label {
    display: block;
    font-size: 14pt;
    margin-bottom: 0.5em;
    width: fit-content;
    padding: 0 0.3em;
    border-bottom: 0.1em solid;
}

.radio-container {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.radio-container > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-checkmark {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #e6ebff;
    border-radius: 50%;
    margin-right: 0.25em;
    transition: background-color 0.25s ease-in-out;
}

.radio-container > input:checked ~ .radio-checkmark {
    background-color: #2196F3;
}

.radio-checkmark:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: opacity 0.25s ease-in-out;
}

.radio-container > input:checked ~ .radio-checkmark:after {
    opacity: 1;
}

#password {
    border-radius: 10em;
    border: 0.15em solid;
    background: none;
    padding: 0.1em 0.4em;
    outline: none;
}