#loading-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: opacity 0.5s ease-in-out;
}

#loading-screen>svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
}

#flash > path {
	animation-name: flash;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	animation-delay: 0.5s;
}

#real {
	stroke-dasharray: 174;
	stroke-dashoffset: 0;
	animation-name: real;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 0.5s;
}

@keyframes real {
	0%, 5% {
		stroke-dashoffset: 174;
	}

	45%,
	55% {
		stroke-dashoffset: 348;
	}

	95%, 100% {
		stroke-dashoffset: 522;
	}
}

@keyframes flash {
	0%, 44% {
		opacity: 0;
	}
	44% {
		opacity: 0.75;
		stroke-width: 4.233;
	}
	60%, 100% {
		opacity: 0;
		stroke-width: 13;
	}
}

#loading-bar {
	position: absolute;
    bottom: 0;
    width: 0%;
    height: 0.25em;
	background-color: #2499ff;
	transition: width 0.5s ease-in-out;
}