:root {
  --filename-width: 5em;
  --filedate-width: 5em;
  --filetype-width: 5em;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.342);
}

::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #383838;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  background-color: #575757;
  border-radius: 10px;
}

::-webkit-scrollbar-button:hover {
  background-color: #383838;
  border-radius: 10px;
}

html, body {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ctx-menu {
  position: absolute;
  background-color: white;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.ctx-menu.hidden {
  opacity: 0;
  pointer-events: none;
}
.ctx-menu .ctx-option {
  display: block;
  width: 100%;
  text-align: start;
  border: 0;
  background-color: transparent;
  padding: 0.3em 0.6em;
  outline: none;
  transition: background-color 0.25s ease-in-out;
  white-space: nowrap;
}
.ctx-menu .ctx-option:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.ctx-menu .ctx-separator {
  display: block;
  height: 1px;
  background-color: #00000054;
  margin: 0.2em;
}
.ctx-menu .ctx-expandcontent {
  display: inline;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: white;
}
.ctx-menu .ctx-expandcontent.hidden {
  display: none;
}

.file-explorer {
  user-select: none;
  width: 32em;
  height: 28em;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
}

.fe-topbar {
  height: 5em;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  background-color: #a0a0a0;
  padding-bottom: 1.25em;
}

.fe-guioptions {
  height: 60%;
}
.fe-guioptions .fe-show {
  border: 0;
  padding: 0;
  display: inline-block;
  height: 1.5em;
  background: none;
  opacity: 0.5;
  margin: 0 0.5em;
  outline: none;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  cursor: pointer;
}
.fe-guioptions .fe-show .fe-showicon {
  width: 1.5em;
}
.fe-guioptions .fe-show:hover {
  transform: scale(1.1);
  opacity: 1;
}

.fe-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
.fe-navigation .fe-wronglocation {
  position: absolute;
  top: 100%;
  left: 15%;
  color: red;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.fe-backnext {
  display: table-footer-group;
}
.fe-backnext button:disabled {
  opacity: 0.3;
}

.fe-location {
  position: relative;
  flex: 1;
  margin: 0 1em;
  display: flex;
  padding: 0.1em 0.5em;
  border: 0.05em solid;
  border-radius: 100em;
  align-items: center;
  overflow: hidden;
  height: 1.25em;
  z-index: 1;
  transition: border-color 0.1s ease-in-out;
}
.fe-location .fe-locationinput {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 1em;
  outline: none;
  background: none;
  border: 0;
  color: transparent;
  z-index: -1;
}
.fe-location .fe-locationinput.fe-editing {
  color: initial;
}
.fe-location .fe-locationfield {
  pointer-events: none;
  white-space: nowrap;
}
.fe-location .fe-locationfolder {
  padding: 0;
  background: none;
  border: 0;
  transition: background-color 0.1s ease-in-out;
  padding: 0 0.5em;
  border-radius: 10em;
  outline: none;
  color: inherit;
  pointer-events: all;
}
.fe-location .fe-locationfolder:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.fe-location .fe-locationseparator {
  margin: 0 0.25em;
  pointer-events: none;
  color: inherit;
}

.fe-explorer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding: 0.5em;
  overflow: hidden;
}
.fe-explorer .fe-explorerfiles {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100px;
}
.fe-explorer.fe-list .fe-orderoptions {
  display: flex;
  margin-bottom: 0.75em;
  border-bottom: 0.1em solid #00000040;
  width: min-content;
  min-width: 100%;
}
.fe-explorer.fe-list .fe-order {
  margin: 0 0.5em;
  padding: 0 0.5em;
  position: relative;
  overflow-x: visible;
}
.fe-explorer.fe-list .fe-order .fe-ordercontent {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.fe-explorer.fe-list .fe-order.fe-ordername {
  width: var(--filename-width);
}
.fe-explorer.fe-list .fe-order.fe-orderdate {
  width: var(--filedate-width);
}
.fe-explorer.fe-list .fe-order.fe-ordertype {
  width: var(--filetype-width);
}
.fe-explorer.fe-list .fe-order .ui-resizable-e {
  position: absolute;
  width: 0.1em;
  height: 70%;
  font-size: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  border-radius: 1em;
  opacity: 1;
  cursor: col-resize;
  pointer-events: all;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder,
.fe-explorer.fe-list .fe-explorerfiles .fe-file {
  display: flex;
  transition: background-color 0.1s ease-in-out;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-folderdetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-filedetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-folderdetail,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-filedetail {
  padding: 0 0.5em;
  padding-bottom: 1em;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 1em;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdborder,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdborder {
  position: absolute;
  height: 100%;
  width: 0.1em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.281);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent {
  display: flex;
  align-items: center;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename {
  width: var(--filename-width);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename .fe-fileicon, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filename .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filename .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldername .fe-fileicon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename .fe-foldericon,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filename .fe-fileicon {
  width: 1.5em;
  margin-right: 0.5em;
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filedate, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filedate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filedate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-folderdate,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filedate {
  width: var(--filedate-width);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fcontent .fe-filetype, .fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-folder .fe-fdcontent .fe-filetype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fcontent .fe-filetype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-foldertype,
.fe-explorer.fe-list .fe-explorerfiles .fe-file .fe-fdcontent .fe-filetype {
  width: var(--filetype-width);
}
.fe-explorer.fe-list .fe-explorerfiles .fe-folder:hover,
.fe-explorer.fe-list .fe-explorerfiles .fe-file:hover {
  background-color: rgba(0, 0, 0, 0.24);
}
.fe-explorer.fe-grid .fe-orderoptions {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, 6em);
  grid-column-gap: 0.75em;
  grid-row-gap: 1.25em;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file {
  display: block;
  width: 100%;
  height: min-content;
  padding-top: 100%;
  position: relative;
  transition: background-color 0.1s ease-in-out;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldername,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filename,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldername,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filename {
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldericon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-fileicon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldericon,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-fileicon {
  display: block;
  margin: 0 auto;
  width: 4em;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-folderdate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filedate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-folderdate,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filedate {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-foldertype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder .fe-fcontent .fe-filetype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-foldertype,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file .fe-fcontent .fe-filetype {
  display: none;
}
.fe-explorer.fe-grid .fe-explorerfiles .fe-folder:hover,
.fe-explorer.fe-grid .fe-explorerfiles .fe-file:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

/*# sourceMappingURL=style.css.map */
